@import 'styles/colors';

.details {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: $light;
    flex: 1;
    align-items: center;
}

.details--image-container {
    max-width: 80%;
}

.details-list {

}
