ul {
  list-style: none;
  width: 500px;
  margin: 0;
  padding: 0;
}
li {
  border: thin blue solid;
}

li:hover {
  background-color: #42c8f5;
  color: white;
  cursor: pointer;
}

li.list-item--active {
  background-color: navy;
  color: white;
}

li.list-item {
  button {
    width: 100%;
    height: 100%;
    padding: 16px;
  }
}
