@import 'styles/colors';

.filter {
    display: flex;
    padding: 10px 10px 10px 10px;
    background-color: $light;
    & > * { flex: 1 }

    input {
        padding: 5px;
        border: thin gray solid;
    }
}
