@import 'styles/colors';
  .App {
  height: 100vh;
  padding: 0;
  background-color: $light;
  overflow: hidden;

  .title {
    height: 35px;
  }

  .tiles {
    height: calc(100vh - 35px);
    overflow: auto;
  }

  h2 {
    color: $light;
    background-color: $primary;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 26px;
  }
}

.right-col {
  border-left: 2px $primary solid;
}
